#invalidCred,
#manyAttempts,
#resetPass,
#noUser {
    display: none;
}

.signin-text {
    &:hover {
        text-decoration: underline;
    }
}

@media only screen and (max-width : 500px) {
    .signin-text {
        font-size: 14px;
    }
}